<!DOCTYPE html>
<html>
<head>
  <style>
    html, body {height: 100%;}

    text { font-size: 10px; fill: #FFFFFF; }
    g.EventCall rect { fill: #00545C; }
    g.EventRequest rect { fill: #00265c; }
    g.EventCompileFile rect { fill: #5c0800; }
    g.EventICall rect { fill: #448888; }
    g.bars-container g:hover, g.bars-container g.selected {
      opacity: 0.5; cursor:pointer;
    }

    .flame-tooltip {
      position:absolute;
      width: 300px;
      background-color: white;
      border: 1px solid black;
      padding:10px;
      word-wrap: break-word;
    }
  </style>
  <link rel="stylesheet" href="static/bootstrap.min.css" >
</head>
<body>
  <div id="root" class="container-fluid"></div>
  <script type="text/javascript" src="static/bundle.js"></script>
</body>
</html>
