<!DOCTYPE html>
<html>
<head>
  <style>
    html, body {height: 100%;}

    text { font-size: 10px; fill: #FFFFFF; }
    rect, g.EventCall rect { fill: #00545C; }
    g.EventRequest rect { fill: #5c0800; }
    g.EventCompileFile rect { fill: #00265c; }
    g.EventICall rect { fill: #5c3600; }
    g:hover, g.selected {
      opacity: 0.5; cursor:pointer;
    }
  </style>
</head>
<body>
  <div id="root"></div>
  <script type="text/javascript" src="static/bundle.js"></script>
</body>
</html>
